$primary-color: #ef6001;       
$secondary-color: #4A4A4A;     
$primary-hover: #d65702;       
$text-color: #2E2E2E;          
$text-white: #FFFFFF;          

$background-color: #FAF3E0;    
$contact-bg: #1B263B;          
$contact-text: #E0E6ED;        

$footer-bg: #F0EFEA;           
$footer-text: #7F8C8D;         

$card-bg: #F5E8DA;  

